[Labels]
# For each parameter, either provide a list of comma-separated labels, or leave blank if not using
required-labels-any:
required-labels-all:
banned-labels:

[GitHub]
# Include the username and password of a user that has push access to the repository in which your Webhook is configured
user:
password:
