[Labels]
# For each parameter, either provide a list of comma-separated labels, or leave blank if not using
required-labels-any:
required-labels-all:
banned-labels:

[GitHub]
# The authentication method to use
# supports both token or user/password based authentication
# Requires push access to the repository in which Webhood is confgured
token:
# OR
user:
password:
